## .NET / Visual Studio
bin/
obj/
.vs/
*.user
*.suo
*.cache
*.log

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Publish output
publish/

## Logs
logs/
*.log

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Secrets
appsettings.Development.json